/* site-wide */

/* adds background color */
body {
  background-color: tan;
  
}

/* centers content using flexbox */
.nav, .mainpage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
} 

/* navigation */
.nav {
  background-color: tan;
  text: white;
}

/* lines up navigation links inline (next to each other) */
.nav li {
  display: inline-flex;
  color: white;
  padding: 5px;
}

a:link {
  color: black;

}
/* about section */
/* flexbox creates the 2-column layout with each column taking up half of the viewport */
.mainpage .col1, .col2 {
  flex: 50%;
  margin-bottom: 30px;
  padding: 20px;
  background-color: #990000;
  border-top: solid black;
  border-bottom: solid black;
  color: beige;
  height: 100%;
}

.orderform {
  width: 50%;
  /* border: solid black; */
  border-radius: 10%;
  background: beige;
  padding: 30px;
  margin: auto;
}

/* contact info */
.footer {
  margin-top: 30px;
  padding-top: 10px;
  display: flex;
  background-color: #990000;
  color: white;
  text-align: left;
  border-top: solid black;
}

/* bootstrap changes */
.jumbotron {
/* specifies background image   */
  background-image: url("../img/peanuts-white-background.jpg");
/* makes image see thru */
/* makes background image fill the size of the jumbotron */
  background-size: tile;
  background-color: white;
  margin-bottom: 0;
}