/* site-wide */

/* adds background color */
body {
  background-color: tan;
  
}

/* centers content using flexbox */
.nav, .mainpage, .orderform {
  display: flex;
  align-items: center;
  justify-content: center;
} 

/* navigation */
.nav {
  background-color: white;
  background-color: ;
}

/* lines up navigation links inline (next to each other) */
.nav li {
  display: inline-flex;
  color: white;
  margin: 10px, 10px; 
}

a:link {
  color: black;

}
/* about section */
/* flexbox creates the 2-column layout with each column taking up half of the viewport */
.mainpage .col1, .col2 {
  flex: 50%;
  margin-top: 0;
  padding: 20px;
  background-color: #990000;
  color: white;
  height: 100%;
}

/* upcoming shows
.mainpage .col3 {
  flex-grow: 2;
  margin-top: 0;
  margin-bottom: 40px;
  background-color: beige;
} */

/* contact info */
.footer {
  display: flex;
  align-items: right;
  justify-content: left;
  background-color: #990000;
  color: white;
}

/* bootstrap changes */
.jumbotron {
/* specifies background image   */
  background-image: url("../img/peanuts-2.jpg");
/* makes image see thru */
  opacity: 0.5;
/* makes background image fill the size of the jumbotron */
  background-size: cover;
  background-color: white;
  margin-bottom: 0;
}